* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

html {
  background-color: #132e41;
}

body,
head {
  overflow-x: hidden;
}

head::before,
head::after,
body::before,
body::after {
  display: block;
  z-index: -1;
  font-size: 52px;
  color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 108s -44s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.933301652em 1.5673124938em 7px rgba(255, 20, 0, 0.9), 0.24102608em 0.9917424137em 7px rgba(175, 0, 255, 0.9),
    0.0293982711em 1.8649102951em 7px rgba(210, 255, 0, 0.9), 2.171635548em -0.332469831em 7px rgba(0, 255, 10, 0.9),
    2.3004237767em 2.4436182492em 7px rgba(255, 0, 113, 0.9), 2.0545966741em 2.4092067773em 7px rgba(0, 255, 39, 0.9),
    1.3280429536em 0.4988731001em 7px rgba(255, 0, 165, 0.9), -0.2179260621em 1.5077686898em 7px rgba(0, 129, 255, 0.9),
    1.6665785384em 2.0538057218em 7px rgba(46, 255, 0, 0.9), 0.9257684865em 0.0881921826em 7px rgba(0, 222, 255, 0.9),
    0.3007786426em 2.3348194676em 7px rgba(0, 42, 255, 0.9), 0.6942120296em 2.4103469465em 7px rgba(0, 169, 255, 0.9),
    -0.0930772146em 0.9371120474em 7px rgba(236, 255, 0, 0.9), 0.973814108em 1.194224426em 7px rgba(58, 0, 255, 0.9),
    2.4373618103em 0.011549485em 7px rgba(0, 98, 255, 0.9), 0.1586143043em 0.4138636226em 7px rgba(255, 0, 136, 0.9),
    2.4853038886em 0.3587019547em 7px rgba(196, 0, 255, 0.9), 0.3306920223em 1.0179620275em 7px rgba(255, 188, 0, 0.9),
    0.428424569em 0.623546227em 7px rgba(255, 224, 0, 0.9), 0.9662807953em 1.102352105em 7px rgba(118, 0, 255, 0.9),
    0.052739773em 0.2987829177em 7px rgba(0, 142, 255, 0.9), 2.2044889704em -0.3600193772em 7px rgba(0, 7, 255, 0.9),
    0.6255947812em 1.1539943956em 7px rgba(92, 0, 255, 0.9), 1.077176581em 1.8142247067em 7px rgba(255, 0, 38, 0.9),
    1.8283252128em -0.2640429538em 7px rgba(72, 0, 255, 0.9), 1.4829698378em 0.9399468042em 7px rgba(0, 255, 143, 0.9),
    1.3449270289em 0.6614414596em 7px rgba(46, 0, 255, 0.9), 0.998731257em 0.5951981511em 7px rgba(255, 0, 186, 0.9),
    0.7089949395em 0.0806998119em 7px rgba(98, 255, 0, 0.9), 0.6304402313em 2.3128552658em 7px rgba(0, 255, 36, 0.9),
    1.5523072217em 0.2035227256em 7px rgba(255, 0, 230, 0.9), 0.1451068427em 1.4000728704em 7px rgba(69, 255, 0, 0.9),
    2.2696169156em 2.0488710391em 7px rgba(255, 0, 114, 0.9), -0.186037035em 2.4255444605em 7px rgba(122, 255, 0, 0.9),
    1.3879597725em 0.8566685656em 7px rgba(247, 0, 255, 0.9), 2.1882728106em 1.7076029657em 7px rgba(0, 255, 131, 0.9),
    1.0571902543em 2.144410251em 7px rgba(31, 255, 0, 0.9), -0.0794577423em -0.2754596987em 7px rgba(0, 255, 75, 0.9),
    1.7603859473em 2.36891561em 7px rgba(0, 27, 255, 0.9), 2.3699137535em 0.0653426433em 7px rgba(0, 25, 255, 0.9),
    0.5818530743em -0.4783217245em 7px rgba(0, 173, 255, 0.9);
  animation-duration: 108s;
  animation-delay: -44s;
}

body::after {
  text-shadow: 1.8191120921em 0.6945916857em 7px rgba(147, 0, 255, 0.9), 2.3027104219em -0.1014678049em 7px rgba(87, 255, 0, 0.9),
    1.6184184493em 1.77576573em 7px rgba(0, 81, 255, 0.9), -0.3658796926em 2.165872874em 7px rgba(0, 64, 255, 0.9),
    2.3790434636em 0.7006449714em 7px rgba(255, 225, 0, 0.9), 1.9258008925em 1.6127872474em 7px rgba(0, 191, 255, 0.9),
    0.390518403em 0.3529644623em 7px rgba(0, 8, 255, 0.9), -0.2864215644em 2.3153844086em 7px rgba(255, 198, 0, 0.9),
    0.619991229em 1.5169973339em 7px rgba(255, 0, 223, 0.9), -0.4036524434em 0.7575500241em 7px rgba(200, 0, 255, 0.9),
    2.4035783093em 2.3519288194em 7px rgba(0, 255, 243, 0.9), -0.4763987099em 1.5379256845em 7px rgba(0, 7, 255, 0.9),
    0.689616248em 2.2241142774em 7px rgba(50, 0, 255, 0.9), -0.0950194282em 1.7885630008em 7px rgba(255, 0, 177, 0.9),
    0.1448654473em 2.0084987786em 7px rgba(255, 0, 20, 0.9), 0.3147469478em 1.9695324201em 7px rgba(255, 71, 0, 0.9),
    0.4480357374em -0.472025206em 7px rgba(61, 255, 0, 0.9), 1.4582895269em -0.3129105375em 7px rgba(0, 255, 193, 0.9),
    0.3770580457em 0.3034614262em 7px rgba(255, 184, 0, 0.9), -0.3310588572em 1.4589104297em 7px rgba(255, 0, 244, 0.9),
    0.7175109637em 0.9856454946em 7px rgba(255, 0, 68, 0.9), 1.0020888168em 1.3896854116em 7px rgba(0, 44, 255, 0.9),
    -0.4426637987em 0.5379112089em 7px rgba(0, 255, 238, 0.9), 1.8705702094em 0.297048697em 7px rgba(255, 165, 0, 0.9),
    1.4077973255em 2.4800915908em 7px rgba(255, 16, 0, 0.9), 1.4779817224em 1.1191183607em 7px rgba(0, 255, 176, 0.9),
    0.9012381088em 0.6027440565em 7px rgba(0, 199, 255, 0.9), 2.0833395786em 1.8224028766em 7px rgba(255, 0, 7, 0.9),
    1.499418801em 1.850592944em 7px rgba(0, 161, 255, 0.9), 1.9008404366em -0.3316817386em 7px rgba(0, 255, 196, 0.9),
    1.129973179em 0.0438569169em 7px rgba(255, 0, 34, 0.9), 0.5225293251em 0.4470552985em 7px rgba(10, 255, 0, 0.9),
    1.0337720398em 0.3231139954em 7px rgba(255, 3, 0, 0.9), 1.8798858929em 0.2150804293em 7px rgba(255, 203, 0, 0.9),
    1.9578186333em 2.2944945672em 7px rgba(255, 0, 79, 0.9), 1.4412802522em 0.5152953175em 7px rgba(255, 215, 0, 0.9),
    0.8771585796em 0.6675045053em 7px rgba(125, 0, 255, 0.9), 1.4198082621em 0.5560999535em 7px rgba(127, 0, 255, 0.9),
    1.554990333em 1.5037165698em 7px rgba(124, 255, 0, 0.9), 0.1248077085em 2.4599152431em 7px rgba(255, 251, 0, 0.9),
    1.0807757369em 1.5188802589em 7px rgba(255, 0, 194, 0.9);
  animation-duration: 106s;
  animation-delay: -54s;
}

head::before {
  text-shadow: 1.0377343093em -0.1700623339em 7px rgba(255, 63, 0, 0.9), 0.7688517047em -0.1562966342em 7px rgba(0, 255, 225, 0.9),
    1.3948474613em 0.3813420625em 7px rgba(169, 255, 0, 0.9), -0.3388911212em -0.1677457921em 7px rgba(255, 0, 53, 0.9),
    2.2933561134em -0.3685489707em 7px rgba(255, 231, 0, 0.9), 2.4967892532em 2.0984316552em 7px rgba(255, 0, 104, 0.9),
    0.8106792111em 2.2178390439em 7px rgba(79, 255, 0, 0.9), 2.0447231103em -0.3541048139em 7px rgba(0, 82, 255, 0.9),
    0.6857380852em 1.1641225112em 7px rgba(216, 0, 255, 0.9), 2.4848074086em 1.5865848308em 7px rgba(194, 255, 0, 0.9),
    0.1459344217em 0.208763223em 7px rgba(255, 175, 0, 0.9), 0.7269759218em 1.7883430426em 7px rgba(0, 160, 255, 0.9),
    1.6441860419em 1.6757518628em 7px rgba(255, 0, 26, 0.9), 1.8296694859em 1.0256397572em 7px rgba(255, 0, 43, 0.9),
    -0.1885032044em -0.4272393047em 7px rgba(0, 255, 213, 0.9), -0.2302733109em 1.8281820575em 7px rgba(116, 255, 0, 0.9),
    2.2866565565em 2.0495804635em 7px rgba(0, 255, 127, 0.9), 1.9626187482em 0.3660142158em 7px rgba(131, 255, 0, 0.9),
    0.40997298em 2.1821424278em 7px rgba(0, 74, 255, 0.9), 0.4972376465em -0.4000253521em 7px rgba(0, 71, 255, 0.9),
    2.001601239em 2.136233945em 7px rgba(171, 255, 0, 0.9), 0.220436498em 1.3415136565em 7px rgba(255, 167, 0, 0.9),
    0.0025053226em 2.3235525116em 7px rgba(0, 255, 144, 0.9), 1.1731977752em 0.6209403268em 7px rgba(255, 0, 5, 0.9),
    1.3381901295em 0.3413836498em 7px rgba(0, 151, 255, 0.9), 0.0732802021em 0.1439514174em 7px rgba(0, 255, 104, 0.9),
    2.0502121001em 2.378141179em 7px rgba(197, 255, 0, 0.9), 2.0953245625em -0.4900751231em 7px rgba(157, 255, 0, 0.9),
    1.8756559838em 1.8490123489em 7px rgba(255, 133, 0, 0.9), 1.5868027981em -0.3268064826em 7px rgba(173, 0, 255, 0.9),
    2.4688918991em 0.553983619em 7px rgba(0, 107, 255, 0.9), 0.8457980899em 1.4332931235em 7px rgba(246, 0, 255, 0.9),
    -0.4305543497em 1.1294895376em 7px rgba(238, 255, 0, 0.9), 0.6702932085em -0.008441072em 7px rgba(255, 24, 0, 0.9),
    0.6537758804em 1.2859829113em 7px rgba(0, 255, 58, 0.9), -0.4366353602em 1.0620809383em 7px rgba(255, 0, 30, 0.9),
    0.4419894571em 2.4557767272em 7px rgba(13, 0, 255, 0.9), 0.6072547731em 0.1916169594em 7px rgba(255, 77, 0, 0.9),
    0.8815739116em 0.7953883371em 7px rgba(255, 61, 0, 0.9), 0.1786038184em 1.8585371106em 7px rgba(255, 113, 0, 0.9),
    0.134002775em 2.0018067461em 7px rgba(0, 255, 8, 0.9);
  animation-duration: 104s;
  animation-delay: -56s;
}

head::after {
  text-shadow: -0.0382223348em 1.4138434763em 7px rgba(42, 255, 0, 0.9), 0.6738305095em 1.5728291472em 7px rgba(133, 0, 255, 0.9),
    0.8538784502em 1.2319574833em 7px rgba(78, 0, 255, 0.9), 0.0555594576em 1.5869748011em 7px rgba(255, 170, 0, 0.9),
    1.7422968529em -0.4615493737em 7px rgba(255, 0, 163, 0.9), 1.1223143793em 0.7620579248em 7px rgba(70, 255, 0, 0.9),
    1.8888834256em 2.4755289879em 7px rgba(0, 255, 190, 0.9), 1.6896367294em 0.9913929491em 7px rgba(243, 255, 0, 0.9),
    1.8047137179em 1.6505537858em 7px rgba(0, 130, 255, 0.9), 2.410026998em 1.667284329em 7px rgba(210, 255, 0, 0.9),
    2.1329874006em -0.2952545199em 7px rgba(83, 255, 0, 0.9), 1.0229016404em 0.2629053841em 7px rgba(255, 0, 56, 0.9),
    1.5254366612em 0.240626219em 7px rgba(255, 109, 0, 0.9), -0.4804715087em 0.5027156746em 7px rgba(72, 0, 255, 0.9),
    2.0666206506em 0.3963287479em 7px rgba(0, 255, 50, 0.9), 2.1403913393em -0.2947863954em 7px rgba(123, 255, 0, 0.9),
    1.4193725978em 1.1519492692em 7px rgba(255, 0, 24, 0.9), 0.8443572521em 1.8374273799em 7px rgba(255, 0, 201, 0.9),
    0.2159705113em 2.3876755433em 7px rgba(255, 0, 142, 0.9), 0.2997578207em 2.3743293249em 7px rgba(0, 202, 255, 0.9),
    1.8534396222em 1.8737315976em 7px rgba(255, 0, 193, 0.9), -0.0321414453em 1.9116464118em 7px rgba(0, 255, 120, 0.9),
    1.1296794534em 2.0840082501em 7px rgba(0, 255, 236, 0.9), 1.0708410634em 0.6345515926em 7px rgba(0, 40, 255, 0.9),
    -0.2766314193em 1.0770443677em 7px rgba(194, 0, 255, 0.9), -0.420640668em 2.3528036382em 7px rgba(0, 255, 112, 0.9),
    0.2353672942em 1.3270723798em 7px rgba(0, 255, 48, 0.9), 0.7065824758em 2.3171390508em 7px rgba(255, 18, 0, 0.9),
    -0.3260822012em 1.296688229em 7px rgba(255, 175, 0, 0.9), 1.7850114253em 2.4017164747em 7px rgba(0, 255, 239, 0.9),
    0.8218028422em 2.3175568857em 7px rgba(255, 0, 35, 0.9), 2.191795061em -0.1943912667em 7px rgba(255, 0, 216, 0.9),
    0.6543406547em 0.4467691485em 7px rgba(0, 255, 179, 0.9), 0.7997411872em -0.0650882783em 7px rgba(0, 255, 110, 0.9),
    1.2712875887em 0.9890628064em 7px rgba(42, 0, 255, 0.9), 0.5177371781em 0.3563709278em 7px rgba(157, 0, 255, 0.9),
    0.0006015558em 0.296581091em 7px rgba(0, 213, 255, 0.9), 0.642232986em -0.1921965783em 7px rgba(255, 191, 0, 0.9),
    0.0174027552em 0.7604013843em 7px rgba(90, 0, 255, 0.9), 2.4948887966em 1.6922256887em 7px rgba(245, 0, 255, 0.9),
    1.4599343788em 1.453296517em 7px rgba(60, 255, 0, 0.9);
  animation-duration: 102s;
  animation-delay: -28s;
}

.pageWidthWithCenter {
  width: 1200px;
  margin: 0 auto;
}

.input.captcha .ant-input-group-addon:last-child {
  padding: 0;
}

.input.captcha .ant-statistic {
  padding: 0;
  width: 62px;
  text-align: center;
}
.input.captcha .ant-statistic .ant-statistic-content {
  font-size: 20px;
}

.input.captcha button {
  border: none;
  height: auto;
}
.myTable .ant-table-thead th {
  font-weight: bold;
}
.myTable .ant-table-tbody,
.myTable .ant-table-thead {
  font-size: 12px;
  color: #333;
}
.ant-btn-primary.dangerButton {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.ant-btn-primary.dangerButton:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
